In [1]:
import numpy as np
import pandas as pd

In [4]:
from numpy.random import randn
np.random.seed(101)

In [6]:
df = pd.DataFrame(randn(5,4),'A B C D E'.split(),'W X Y Z'.split())
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

Selection and Indexing

In [13]:
df[['W']]

          W
A  0.302665
B -0.134841
C  0.807706
D -0.497104
E -0.116773

In [10]:
df[['W','Z']]

          W         Z
A  0.302665 -1.159119
B -0.134841  0.184502
C  0.807706  0.329646
D -0.497104  0.484752
E -0.116773  1.996652

In [12]:
df[['W','Z','X']]

          W         Z         X
A  0.302665 -1.159119  1.693723
B -0.134841  0.184502  0.390528
C  0.807706  0.329646  0.072960
D -0.497104  0.484752 -0.754070
E -0.116773  1.996652  1.901755

In [14]:
df.W

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [17]:
type(df['W'])

pandas.core.series.Series

In [18]:
type(df)

pandas.core.frame.DataFrame

In [21]:
df['new'] = df['W'] + df['Z']
df['new']

A   -0.856454
B    0.049661
C    1.137352
D   -0.012352
E    1.879879
Name: new, dtype: float64

In [22]:
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -0.856454
B -0.134841  0.390528  0.166905  0.184502  0.049661
C  0.807706  0.072960  0.638787  0.329646  1.137352
D -0.497104 -0.754070 -0.943406  0.484752 -0.012352
E -0.116773  1.901755  0.238127  1.996652  1.879879

In [23]:
df.drop('new',axis = 1)

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [24]:
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -0.856454
B -0.134841  0.390528  0.166905  0.184502  0.049661
C  0.807706  0.072960  0.638787  0.329646  1.137352
D -0.497104 -0.754070 -0.943406  0.484752 -0.012352
E -0.116773  1.901755  0.238127  1.996652  1.879879

In [25]:
df.drop('new',axis = 1,inplace = True)

In [26]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [27]:
df.drop('E')

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752

In [28]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [29]:
df.drop('E',axis = 0,inplace  = True)

In [30]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752

In [31]:
df = pd.DataFrame(randn(5,4),'A B C D E'.split(),'W X Y Z'.split())
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [32]:
df.loc['A']

W   -0.993263
X    0.196800
Y   -1.136645
Z    0.000366
Name: A, dtype: float64

In [33]:
df['A']

KeyError: 'A'

In [34]:
df.iloc[2]

W    2.154846
X   -0.610259
Y   -0.755325
Z   -0.346419
Name: C, dtype: float64

In [35]:
df.loc['B','Y']

-0.031579143908112575

In [36]:
df.loc[['A','B'],['W','Y']]

          W         Y
A -0.993263 -1.136645
B  1.025984 -0.031579

In [37]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [38]:
df>0

       W      X      Y      Z
A  False   True  False   True
B   True  False  False   True
C   True  False  False  False
D   True  False   True   True
E  False   True  False   True

In [39]:
df[df>0]

          W         X         Y         Z
A       NaN  0.196800       NaN  0.000366
B  1.025984       NaN       NaN  0.649826
C  2.154846       NaN       NaN       NaN
D  0.147027       NaN  0.558769  1.024810
E       NaN  1.862864       NaN  0.610478

In [40]:
df[df['W']>0]

          W         X         Y         Z
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810

In [44]:
df[df['W']>0]['Y']

B   -0.031579
C   -0.755325
D    0.558769
Name: Y, dtype: float64

In [46]:
df[df['W']>0][['Y','X']]

          Y         X
B -0.031579 -0.156598
C -0.755325 -0.610259
D  0.558769 -0.479448

In [50]:
df[(df['W']>0) & (df['Y']>0)]

          W         X         Y        Z
D  0.147027 -0.479448  0.558769  1.02481

More Indexing Details

In [64]:
df = pd.DataFrame(randn(5,4),'A B C D E'.split(),'W X Y Z'.split())
df

          W         X         Y         Z
A -1.467514 -0.494095 -0.162535  0.485809
B  0.392489  0.221491 -0.855196  1.541990
C  0.666319 -0.538235 -0.568581  1.407338
D  0.641806 -0.905100 -0.391157  1.028293
E -1.972605 -0.866885  0.720788 -1.223082

In [53]:
df.reset_index()

  index         W         X         Y         Z
0     A  0.386030  2.084019 -0.376519  0.230336
1     B  0.681209  1.035125 -0.031160  1.939932
2     C -1.005187 -0.741790  0.187125 -0.732845
3     D -1.382920  1.482495  0.961458 -2.141212
4     E  0.992573  1.192241 -1.046780  1.292765

In [54]:
newind = 'AS SD DF FG GH'.split()

In [65]:
df['States'] = newind
df

          W         X         Y         Z States
A -1.467514 -0.494095 -0.162535  0.485809     AS
B  0.392489  0.221491 -0.855196  1.541990     SD
C  0.666319 -0.538235 -0.568581  1.407338     DF
D  0.641806 -0.905100 -0.391157  1.028293     FG
E -1.972605 -0.866885  0.720788 -1.223082     GH

In [66]:
df.set_index('States',inplace = True)
df

               W         X         Y         Z
States
AS     -1.467514 -0.494095 -0.162535  0.485809
SD      0.392489  0.221491 -0.855196  1.541990
DF      0.666319 -0.538235 -0.568581  1.407338
FG      0.641806 -0.905100 -0.391157  1.028293
GH     -1.972605 -0.866885  0.720788 -1.223082

In [69]:
df

               W         X         Y         Z
States
AS     -1.467514 -0.494095 -0.162535  0.485809
SD      0.392489  0.221491 -0.855196  1.541990
DF      0.666319 -0.538235 -0.568581  1.407338
FG      0.641806 -0.905100 -0.391157  1.028293
GH     -1.972605 -0.866885  0.720788 -1.223082

Multi-index And Index Hierarchy

In [71]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [72]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [73]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [77]:
df = pd.DataFrame(randn(6,2),list(zip(outside,inside)),['A','B'])
df

                A         B
(G1, 1) -0.251897 -0.578120
(G1, 2)  0.236996  0.200780
(G1, 3)  0.327845  0.674485
(G2, 1) -0.174057  0.780140
(G2, 2) -0.383258 -0.409318
(G2, 3)  0.343539  0.196275

In [78]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])
df

             A         B
G1 1 -0.982776  2.231555
   2 -0.971393 -1.522333
   3  1.133703  0.528187
G2 1  0.393461 -0.630507
   2 -1.398290 -0.219311
   3 -0.045676  0.012421

In [79]:
df.loc['G1']

          A         B
1 -0.982776  2.231555
2 -0.971393 -1.522333
3  1.133703  0.528187

In [80]:
df.loc['G1'].loc[1]

A   -0.982776
B    2.231555
Name: 1, dtype: float64

In [81]:
df.index.names

FrozenList([None, None])

In [82]:
df.index.names = ['Group','Num']

In [83]:
df

                  A         B
Group Num
G1    1   -0.982776  2.231555
      2   -0.971393 -1.522333
      3    1.133703  0.528187
G2    1    0.393461 -0.630507
      2   -1.398290 -0.219311
      3   -0.045676  0.012421

In [85]:
df.xs('G1')

            A         B
Num
1   -0.982776  2.231555
2   -0.971393 -1.522333
3    1.133703  0.528187

In [89]:
df.xs(['G1',1])

A   -0.982776
B    2.231555
Name: (G1, 1), dtype: float64

In [97]:
df.xs(1,level = 'Num')

              A         B
Group
G1    -0.982776  2.231555
G2     0.393461 -0.630507