In [4]:
import numpy as np
import pandas as pd

In [6]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [8]:
labels

['a', 'b', 'c']

In [9]:
my_list

[10, 20, 30]

In [10]:
arr

array([10, 20, 30])

In [11]:
d

{'a': 10, 'b': 20, 'c': 30}

Using Lists

In [12]:
pd.Series(my_list)

0    10
1    20
2    30
dtype: int64

In [13]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

Using Numpy Arrays

In [14]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [15]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

Using Dictionary

In [16]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

Data in Series

In [21]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [22]:
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

Using an Index

In [23]:
ser1 = pd.Series(['USA','IND','CHIN','PEEP'],[1,2,3,4])

In [24]:
ser1

1     USA
2     IND
3    CHIN
4    PEEP
dtype: object

In [25]:
ser1 = pd.Series([1,2,3,4],['USA','IND','CHIN','PEEP'])

In [26]:
ser1

USA     1
IND     2
CHIN    3
PEEP    4
dtype: int64

In [27]:
ser1 = pd.Series(data = [1,2,3,4],index = ['USA','IND','CHIN','PEEP'])

In [28]:
ser1

USA     1
IND     2
CHIN    3
PEEP    4
dtype: int64

In [29]:
ser2 = pd.Series([1,3,2,4],['USA','PID','LPU','PEEP'])

In [31]:
ser2

USA     1
PID     3
LPU     2
PEEP    4
dtype: int64

In [35]:
ser = ser1 + ser2
ser

CHIN    NaN
IND     NaN
LPU     NaN
PEEP    8.0
PID     NaN
USA     2.0
dtype: float64

In [33]:
ser1['USA']

1

In [36]:
ser['USA']

2.0

In [37]:
ser2['PEEP']

4